// Module-8
//

.modclass-8 {
	.two-cols-container {
	}
	.two-cols {
		background-image:url(../img/price.png);
		background-repeat: no-repeat;
		background-position: top center;
		height:300px;
		p {
		}
	}
	.cut-diagram {
		height:360px;
		width:100%;
	}
}
