// Module-12
//

.modclass-12 {
	h2 {
		border: 2px #000000 solid;
		width:auto;
		float:left;
		margin: 0 auto;
		padding:5px;
	}
	p {
		text-align:justify;
	}
	.childrenhood > div{
		width:50%;
		height:284px;
		float:left;
	}
	.zoe { background-color:#F8E71C}
	.shawn { background-color:#F5A623}
}
