<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <h1><span>
                 <svg viewbox="0 0 900 50">
                      <defs>
                        <mask id="mask" x="0" y="0" width="400" height="80">
                          <rect x="0" y="0" width="270" height="60" fill="#fff"/>
                          <text text-anchor="middle" x="130" y="40" dy="1">The Life Of </text>
                      </mask>
                  </defs>
                  <rect x="0" y="0" width="500" height="80" mask="url(#mask)" fill-opacity="1"/>    
              </svg> 
          </span>
          Ryan Ang.</h1>
          <button class="button">Explore</button>
      </div>
      <div class="col-sm-4 col-sm-offset-2">
        <div class="descript">
            <p class="bolder-text">Ryan was born into a lower to middle class Singaporean family.  He grew up in public housing in a two bedroom HDB, and shared a room with his younger sister.</p>
            <p>Ryan’s Singaporean parents have traditional values when it comes to money: work hard and save up. As an adolescent, Ryan went to public school and excelled in math and science.</p>
            <p>Like many of his peers, during his upbringing Ryan felt pressured to excel academically and help launch his family to the next economic stratosphere. After completing his mandatory 2 years of service with the National Service, Ryan applied to the National University of Singapore (NUS) for Engineering and was awarded a STEM scholarship.</p>
            <p>While completing his undergraduate studies, Ryan started dating his first girlfriend who later becomes his wife. After convocating with his undergraduate degree in Engineering, Ryan pursued his master’s degree at NTU in Computer Science.</p>
        </div>
    </div>
</div>
</div>
</div>