<div class="{{ include.mainclass }}">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 light-panel">
				<h2 class="text-center">Retirement.</h2>
				<p class="bolder-text">At age 60, Ryan retires from full-time work, but keeps up part-time consulting on the side to keep his brain active. Both Shawn and Zoe have graduated from college, and Zoe has announced that she is engaged to be married. </p>
				<p>Brimming with pride, it is Ryan’s task to consider whether he should liquidate some of his assets now, or incorporate them into his estate. His comfort in financial security, culminating in this happy decision, represents a lifetime of hard work well worth it. </p>
				<div class="chart"><img src="/assets/img/chart-FPO.png" alt="Chart FPO"></div>
				<p>At 65, Ryan meets his second grandson Desmond, and his Legacy Insurance kicks in. Carrie is a little slower these days, but her energy for her grandchildren seems magically unstoppable. As Ryan reposes into older age, he is struck by memories of his own childhood. Never could he have imagined, as a kid sharing a room in his family’s HDB, the scene he now has before him. As his own family grows and thrives, Ryan is proud, thankful, and at peace. He spends the rest of his days watching his family grow and thrive. </p>
			</div>
		</div>
	</div>
</div>