<div class="{{ include.mainclass }}">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-1">
				<h2>First comes home, then comes marriage.</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<p class="bolder-text">Once engaged, Ryan and Carrie embark on some ambitious life planning which leaves them walking a financial tightrope.</p>
				<p>If things go according to plan, Ryan and Carrie will collect the keys to their new home within a month of getting hitched.</p>
				<p>As they wait for their home to be ready, they plan and save for several considerable costs, including a modest wedding and minor home renovations, before finally moving into their BTO and purchasing a car.</p>
				<p>Throughout their time carefully researching the home buying process, Ryan and Carrie have learned that during the BTO application process, either a Whole or Term insurance policy fulfills the requirements for Home Protection Insurance, which is required by the HDB.</p>
			</div>
			<div class="col-sm-7 comparison-box">Product comparison</div>
		</div>
	</div>
</div>