<div class="{{ include.mainclass }}">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2>A 2nd home.</h2>
				<p>After 5 years of living in their first flat together, Ryan and Carrie are ready for an upgrade, and look into investing in an Executive Condo. If Ryan puts their flat on the market, he can likely earn 550 - 600K, and with Carrie not working, they financially qualify for an EC.</p>
				<p>Ryan doesn’t want to move too far from the location of their current home, and finds an EC that is only a street over for 700-800K.  Once the deal is sealed, the couple learns that Carrie is pregnant again.  Though ecstatic with the news, Ryan feels pressure to make more money so he can comfortably accommodate his growing family and increasing expenses. </p>
			</div>
			<div class="col-sm-6">
				<div class="floorplan"><img src="/assets/img/blueplan-FPO.png" alt=""></div>
			</div>
		</div>
	</div>
</div>