<div class="{{ include.mainclass }}">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h3 class="text-center">Mortgage Process</h3>
				<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor numquam soluta maiores deserunt culpa? Asperiores maiores, minima itaque obcaecati harum doloremque dolorem sunt vero, eaque placeat. Asperiores dignissimos ipsam vel.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="diamonds-container">
					<img src="/assets/img/mortgage.png" alt="">
				</div> <!-- end diamonds-container -->
			</div>
		</div>
	</div>
</div>