<div class="{{ include.mainclass }}">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<h2>A young man in uniform</h2>
			</div>
			<div class="image-container">
				<img src="/assets/img/phone.png" alt="Phone">
			</div> <!-- end image-container -->
		</div>
		<div class="row">
			<div class="text-block">
				<div class="col-sm-5 col-sm-offset-1">
					<p class="bolder-text">Preparing to go into the National Service, Ryan looks forward to serving his country. However, for the first time in his life he is moved to consider the reality and potential consequences of serious injury, or even death.</p>
					<p>After hearing some distressing stories he decides to do some research on extra health and life insurance. Ryan has little in the way of savings as this stage in his life, and this is the first time he has ever looked into any type of insurance on his own.  He knows that the stipend he gets from NS will only be enough to cover transportation costs. </p>
				</div>
			</div>
		</div>
	</div>
</div>