<div class="{{ include.mainclass }}">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-5">
				<p>With a solid grip on his financial plan, and the recent sell of the old mini-van, Ryan decides for the first time ever in his life to purchase a brand-new car. After years of carefully planned second-hand purchasing, this car represents a special pleasure and proud accomplishment for Ryan. Dropping the kids, ages 11 and 9, at school suddenly takes on a new element of satisfaction. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h2>They grow up so fast.</h2>
				<p>After what felt like a blink of his eye, Ryan’s children near completing their undergraduate studies. His daughter is at NTU and appears to be following her father’s footsteps. His own parents having passed away a few years earlier, Ryan now turns his mind to his own retirement.</p>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="boxes"><img src="/assets/img/bars-chart.png" alt=""></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<p>In their final years, Ryan’s parents had no other option than to rely on Ryan for financial support. With his investments behaving as they should, and his fifties coming to a close, Ryan’s financial goals include preparation for his and Carrie’s final years, avoiding undue strain on their children for time and care. </p>
			</div>
		</div>
	</div>
</div>