<div class="{{ include.mainclass }}">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="text-center">Tying the knot, and moving in.</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="two-cols-container">
					<div class="two-cols">
						<p class="col50">After officially marrying with a modest ceremony, Ryan and Carrie are almost ready to move in. With so much happening at once and the renovation a little over budget, the couple’s finances are tighter than ever and Ryan takes out a small loan to help cover the cost of the wedding (about 15-20K). Soon after, the pair move in to their new home in Jurong West and begin anew phase of their journey together. Since getting approved on their BTO, Ryan has been researching cars as living further out in these less mature estates leaves them with limited transportation options. Ryan manages to find a second-hand car with a 7-year COE left on it. </p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="cut-diagram">Cut-diagram of car</div>
			</div>
		</div>
	</div>
</div>
