<div class="{{ include.mainclass }}">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="text-center">"Will you HDB with me?"</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-6 col-sm-6">
				<p>With discipline and dedication to his savings plan, Ryan is able to purchase the ring he most wants to present to Carrie. He makes sure that the ring is insured for X value. This is a highly emotional time for Ryan as many of his accomplishments – professional, financial and personal – begin to bring him pride. As he musters up the courage to propose, Ryan is aware of the full transition he is making to adulthood.</p>
				<p>Within months of their engagement, (yes, he got the answer he was hoping for!), Ryan and Carrie submit an application for a BTO (Build-To-Order) in a less mature HDB estate.  As first-timers applying for public housing in a non-mature estate, their chances are high. Six weeks after submitting their application, Ryan and Carrie find out that they have been approved.  The couple has 4 months to sign a lease and put a down payment on the BTO flat.</p>
				<p class="bolder-text">Their combined salaries qualify them for a mortgage and thanks to Carrie’s CPF, they can easily put forward a combined down payment which consists of 5% cash (20K), and 15% CPF (60K), on a flat that costs 400K. </p>
			</div>
			<div class="box3d">3D sequence</div>
		</div>
	</div>
</div>