<div class="{{ include.mainclass }}">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<h2 class="text-center">An engineer is born</h2>
				<p>While attending graduate school, Ryan works part-time and lives with his parents to maximize his savings. He maintains the balance in his savings account, and primarily uses cash or a debit card for his day-to-day needs. </p>
				<p>At 27, Ryan is proud to land his first job as a software engineer.  His first paycheck brings the happy realization that, for the first time in his life, he is earning more than he needs. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="box-container">
					<h3 class="text-center">Credit Card Point Comparison</h3>
				</div> <!-- end box-container -->				
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<p>After treating his family to a celebratory dinner out, Ryan puts his mind to the question of how best to manage his extra earnings and how best to spend it.  </p>
				<p>Consumed with thoughts of future and family, Ryan decides that an engagement ring for his girlfriend Carrie will represent his first financial milestone. Convention advises that this ring should cost roughly the equivalent of 3 months of his current salary. </p>
			</div>
		</div>

	</div>
</div>