<div class="{{ include.mainclass }}">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-2">
				<h2>A baby on the way.</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5 col-sm-offset-2">
				<p class="bolder-text">Within 3 months of moving into their new home, Ryan and Carrie are delighted to find out that Carrie is pregnant.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="brochure"><img src="/assets/img/babyOnWay.png" alt="Brochure"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5 col-sm-offset-2">
				<p>While Ryan starts to plan for the arrival of their first baby, he consults with family and friends about what kinds of insurance and investment products he might need. On the most exciting and nerve-wracking day of his life, a hospital pamphlet reminds Ryan to set up Shawn’s, his newly born son’s, education fund.</p>
			</div>
		</div>
	</div>
</div>