<div class="{{ include.mainclass }}">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="text-right">New decade, new investments.</h2>
			</div>
			<div class="col-sm-6">
				<p>By his 40th birthday, Ryan has been a dedicated employee to his company for seven years, and is promoted. To celebrate, Ryan and Carrie go to Bali on vacation just the two of them; this is the first vacation they’ve had as a couple since the arrival of their children.</p>
				<p>Upon their return, Ryan decides that the time is right for an additional investment.  Ryan purchases a two-bedroom condo in Paya Lebar for $880K, and within six months after a quick renovation, the condo is renting for 2900 a month; which is just enough to cover the mortgage. </p>
				<div class="chart"><img src="/assets/img/chart-02.png" alt=""></div>
			</div>
		</div>
	</div>
</div>