<div class="{{ include.mainclass }}">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h2 class="text-center">Shawn is here.</h2>				
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<p class="bolder-text">Now with two little children in the house, Ryan decides to get a domestic helper to help with chores and child-care.  Having a family of four brings Ryan great pride and happiness, and he is moved to think of his children’s future health and prosperity.  Ryan’s financial plan is now seeing double, with two education funds, and two critical illness insurance plans.</p>
			</div>
			<div class="col-sm-10 col-sm-offset-1">
				<div class="childrenhood">
					<div class="zoe">Zoe</div>
					<div class="shawn">Shawn</div>
				</div>
			</div>
			<div class="col-sm-8 col-sm-offset-2">
				<p>Along with his children’s future, Ryan often turns his mind to his wife Carrie’s and his future retirement. Though happy with his financial progress, saving for the future along with child expenses sit heavily on Ryan’s conscience. He feels that these days he is spending, spending, spending.</p>
			</div>		
		</div>
	</div>
</div>