<nav class="topnav navbar">
	<div class="dropdown">
		<div class="logo">
			<a href="#">THE LIFE OF</a>
		</div>
    <button class="btnav btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" aria-label="Close">
    	<span class="close" aria-hidden="true">CLOSE</span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="navbar">
      <li><a href="#">A YOUNG MAN IN UNIFORM</a></li>
      <li><a href="#">AN ENGINEER IS BORN</a></li>
      <li><a href="#">A MILESTONE PROPOSAL</a></li>
      <li><a href="#">FIRST COMES HOME, THEN COMES MARRIAGE…</a></li>
      <li><a href="#">TYING THE KNOT, AND MOVING IN</a></li>
      <li><a href="#">A BABY ON THE WAY</a></li>
      <li><a href="#">MOVING ON UP! A SECOND HOME</a></li>
      <li><a href="#">BABY NUMBER TWO</a></li>
      <li><a href="#">NEW DECADE, NEW INVESTMENTS</a></li>
      <li><a href="#">SECOND-HAND NO MORE</a></li>
      <li><a href="#">THEY GROW UP SO FAST</a></li>
      <li><a href="#">RETIREMENT</a></li>
    </ul>
  </div>  
</nav>
