<nav>
	<div class="topnav">
		<div id="logo"></div>	
	</div>
	<ul id="navbar">
		<li>A YOUNG MAN IN UNIFORM</li>
		<li>AN ENGINEER IS BORN</li>
		<li>A MILESTONE PROPOSAL</li>
		<li>FIRST COMES HOME, THEN COMES MARRIAGE…</li>
		<li>TYING THE KNOT, AND MOVING IN</li>
		<li>A BABY ON THE WAY</li>
		<li>MOVING ON UP! A SECOND HOME</li>
		<li>BABY NUMBER TWO</li>
		<li>NEW DECADE, NEW INVESTMENTS</li>
		<li>SECOND-HAND NO MORE</li>
		<li>THEY GROW UP SO FAST</li>
		<li>RETIREMENT</li>
	</ul>
</nav>

