---
layout: default
name: homepage
title: Home page
description: homepage description
keywords: homepage
status: develop
browsers:
    - { chrome: false }
    - { firefox: false }
    - { apple: false }
    - { ie11: false }
    - { ie10: false }
    - { ie9: false }
    - { ie8: false }
---

{% include components/hero.html %}
{% include components/module-1.html mainclass="modclass-1" %}
{% include components/module-2.html mainclass="modclass-2" %}
{% include components/module-3.html mainclass="modclass-3" %}
{% include components/module-4.html mainclass="modclass-4" %}
{% include components/module-5.html mainclass="modclass-5" %}
{% include components/module-6.html mainclass="modclass-6" %}
{% include components/module-7.html mainclass="modclass-7" %}
{% include components/module-8.html mainclass="modclass-8" %}
{% include components/module-9.html mainclass="modclass-9" %}
{% include components/module-10.html mainclass="modclass-10" %}
{% include components/module-11.html mainclass="modclass-11" %}
{% include components/module-12.html mainclass="modclass-12" %}
{% include components/module-13.html mainclass="modclass-13" %}
{% include components/module-14.html mainclass="modclass-14" %}
{% include components/module-15.html mainclass="modclass-15" %}
{% include components/module-16.html mainclass="modclass-16" %}
